#myFooter {
    margin-top: 15vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

#myFooter .container1{
    text-align: center;
    height: 5vh;
    margin-top: -0.4vw;
}

#myFooter .footer-copyright{
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.7);
}

.logo_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_img img {
    max-width: 200px;
}

@media screen  and (min-width: 350px) and (max-width: 700px) {
    .container1 {
        margin-top: -10px !important;
        margin-left: 10px !important;
        margin-bottom: 0;
    }
    
    .logo-footer {
        position: relative;
        left: -12%;
        transform: scale(1.2);
        margin-top: 0px;
    }
}